@font-face {
    font-family: 'opendyslexicregular';
    src: url('../assets/regular/opendyslexic-regular-webfont.woff2') format('woff2'),
         url('../assets/regular/opendyslexic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:opendyslexicregular !important;
}

:root {
    --accent-color: #a00b0b;
    --main-color: #0e0b0b;
    --back-color: #CDAB55;
    --bold-weight: 700;
    --medium-weight: 600;
    --light-weight: 300;
}

html, body {
    background: var(--back-color) url("../images/PapelAntigoClaro.png") no-repeat fixed center;
}

p {
    padding-bottom: 1em;
}

/* Welcome section */

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.photo-img {
    width: 100px;
    height: 100px;
}

.main-text {
    font-size: 1.5rem;
    font-weight: var(--bold-weight);
    text-align: center;
    color: var(--main-color);
}

hr {
    color: var(--main-color);
    width: 80%;
    margin: auto;
}

/* Main section */

.main-section {
    margin: 2rem 1.2rem;
    color: var(--main-color);
    font-weight: var(--light-weight);
    line-height: 1.8;
    list-style-position: inside;
}

.inner-list {
    padding-left: 1em;
}

.highlight {
    color: var(--accent-color);
    font-weight: var(--bold-weight);
}

.description {
    text-align: center;
}

.inner-section {
    padding-top: 1em;
}
/* Social section */

.main-title {
    font-weight: var(--medium-weight);
    font-size: 1.5rem;
    color: var(--main-color);
    text-align: center;
    padding: 2rem 1rem;
}

.end-section {
    padding: 1em 0;
    text-align: center;
}

h2 {
    margin: 1em 0;
    text-align: center;
}

@media only screen and (min-width: 600px) {

    #welcome {
        margin: 4em 0;
        padding: 0 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 30%;
    }
    
    .intro {
        width: 70%;
        padding-right: 2em;
    }

    .photo-img {
        width: 200px;
        height: 200px;
    }

    .main-text {
        font-size: 3.5rem;
        text-align: center;
        /* transform: translateX(-1.5rem); */
    }

    .main-section {
        padding: 3rem 10rem;
        font-size: 1.5rem;
        line-height: 2;
        min-height: 100vh;
    }
}